<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    {% comment %}
    <div class="navbar-brand">
        <a class="navbar-item" href="/">Mon Site</a>
    </div>
{% endcomment %}
    <div class="container">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'home' %}">
                    Home
                </a>
                <a class="navbar-item">
                    Projects
                </a>
                <a class="navbar-item">
                    Contributors
                </a>
                <a class="navbar-item" href="{% url 'karma' %} ">
                    Karma
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Make Our Planet Great Again
            </h1>
            <h2 class="subtitle">
                Propose, evaluate, finance and projects to make our planet great again
            </h2>
        </div>
    </div>
</section>
{% block content %}
{% endblock %}
</body>
</html>
